@import "tailwindcss";

/* Style tasks scrollbar */
@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 4px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #DFDFDF; /* Tailwind blue-500 */
      border-radius: 9999px;
    }

  }
  
  /* Remove default eye icon from password input field */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}